#tpl {
    .quiz-input {
        &--text-area {
            resize: none;
            font-size: rem(20);
            font-family: $font-caption;
            font-weight: $font-weight-caption;
            color: $color-light;
            background-color: rgb(255 255 255 / 35%);
            border: max(rem(2), 2px) solid rgb(255 255 255 / 46%);
            padding: rem(12) rem(14);
            width: rem(647);
            max-width: 100%;
            height: rem(75);

            @media (--viewport-portrait-layout) {
                padding: rem(16, true);
                width: rem(314, true);
                height: rem(61, true);
                text-align: center;
                font-size: 16px;
            }

            &::placeholder {
                font-family: $font-caption;
                font-weight: $font-weight-caption;
                color: $color-light;
            }

            &:focus-visible {
                outline: unset;
            }
        }
    }
}
