#tpl {
    .main-page {
        display: flex;
        flex-direction: column;
        gap: rem(47);
        align-items: flex-start;

        img {
            width: rem(495);

            @media (--viewport-portrait-layout) {
                width: rem(282, true);
            }
        }

        @media (--viewport-portrait-layout) {
            align-items: center;
            gap: rem(21, true);
        }

        // stylelint-disable-next-line
        img {
            transition: opacity 0.35s ease;
        }

        &:not(.show) {
            img,
            button {
                opacity: 0;
            }
        }
    }
}
