#tpl {
    .question-2 {
        @media (--viewport-portrait-layout) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title-block {
            margin-bottom: rem(100);
            gap: rem(28);
            padding-left: rem(18);

            @media (--viewport-portrait-layout) {
                margin-bottom: rem(50, true);
                padding-left: 0;
                gap: rem(21, true);
            }

            &__title {
                max-width: rem(495);
                margin-top: rem(47);

                @media (--viewport-portrait-layout) {
                    font-size: rem(14, true);
                    text-align: center;
                    max-width: rem(250, true);
                    margin-top: rem(15, true);
                }
            }

            &__ellipse {
                width: rem(687);
                top: rem(-40);
                left: rem(18 - 14 + 25);

                @media (--viewport-portrait-layout) {
                    width: rem(310, true);
                    top: rem(-12, true);
                    left: rem(25, true);
                    transform: rotate(7deg);
                }
            }

            &__num {
                width: rem(82);

                @media (--viewport-portrait-layout) {
                    width: rem(43, true);
                }
            }
        }

        .title-block__num,
        .title-block__title,
        .title-block__ellipse,
        .quiz-input {
            transition: opacity 0.35s ease;
        }

        // // stylelint-disable-next-line
        // .title-block__ellipse,
        // .title-block__title {
        //     transition-delay: 0.2s;
        // }

        // $start: 0.4s;
        // $count: 6;
        // $space: 0.1s;

        // @for $i from 1 to $count {
        //     .quiz-input:nth-child(#{$i}) {
        //         transition-delay: calc(#{$start} + #{$i - 1} * #{$space});
        //     }
        // }

        // // stylelint-disable-next-line
        // button {
        //     transition-delay: calc(#{$start} + #{$count - 1} * #{$space} + 0.1s);
        // }

        &:not(.show) {
            .title-block__num,
            .title-block__title,
            .title-block__ellipse,
            .quiz-input,
            button {
                opacity: 0;
            }
        }
    }
}
