#tpl {
    .question-2__sheet {
        width: rem(331);
        height: rem(292);
        background-image: url("~assets/images/sheet.png");
        background-size: cover;
        padding: rem(60) rem(40) rem(40) rem(40);
        text-align: center;
        transform: rotate(-5deg);
        font-weight: 400;
        line-height: 1.3;
        display: flex;
        align-items: center;
        position: absolute;
        top: vh(300);
        right: vw(246);
        font-size: rem(18);

        @media screen and (max-width: 1600px) {
            right: vw(100);
        }

        @media screen and (max-width: 1330px) {
            right: vw(10);
        }

        @media screen and (max-width: 1200px) {
            right: auto;
            left: rem(900);
        }

        @media (--viewport-portrait-layout) {
            $fs: 18;

            font-size: rem($fs * 0.85, true);
            width: em(330 * 0.9, $fs);
            height: em(292 * 0.9, $fs);
            top: em(140, $fs);
            right: em(-27, $fs);
            left: auto;
            padding: em(60, $fs) em(40, $fs) em(40, $fs) em(40, $fs);
        }

        &::before {
            content: "";
            position: absolute;
            top: rem(4);
            left: rem(80);
            width: rem(51);
            height: rem(63);
            background-image: url("~assets/images/tape.png");
            background-size: cover;
            z-index: 4;

            // @media (--viewport-portrait-layout) {
            //     width: rem(25, true);
            //     height: rem(30, true);
            //     top: rem(-12, true);
            //     left: rem(7, true);
            // }
        }
    }
}
