article#tpl
    include components/meta.pug
    
    .quiz-wrapper#quizWrapper
        .question-6-back(aria-hidden)
            .question-6-back__desk(aria-hidden)
                .question-6-back__checkbox-results-wrapper#checkboxResultsWrapper
        .quiz-content#quizContent


